In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
pd.read_csv('covid.csv')
df=pd.read_csv('covid.csv')
df.head()

,id,sex,patient_type,entry_date,date_symptoms,date_died,intubed,pneumonia,age,pregnancy,...,inmsupr,hypertension,other_disease,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res,icu
0,16169f,2,1,04-05-2020,02-05-2020,9999-99-99,97,2,27,97,...,2,2,2,2,2,2,2,2,1,97
1,1009bf,2,1,19-03-2020,17-03-2020,9999-99-99,97,2,24,97,...,2,2,2,2,2,2,2,99,1,97
2,167386,1,2,06-04-2020,01-04-2020,9999-99-99,2,2,54,2,...,2,2,2,2,1,2,2,99,1,2
3,0b5948,2,2,17-04-2020,10-04-2020,9999-99-99,2,1,30,97,...,2,2,2,2,2,2,2,99,1,2
4,0d01b5,1,2,13-04-2020,13-04-2020,22-04-2020,2,2,60,2,...,2,1,2,1,2,2,2,99,1,2

In [3]:
columnas_a_eliminar = ['id','patient_type','entry_date','date_symptoms','date_died','other_disease','icu']
df.drop(columnas_a_eliminar,axis=1,inplace=True)
df.head()

,sex,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res
0,2,97,2,27,97,2,2,2,2,2,2,2,2,2,2,1
1,2,97,2,24,97,2,2,2,2,2,2,2,2,2,99,1
2,1,2,2,54,2,2,2,2,2,2,2,1,2,2,99,1
3,2,2,1,30,97,2,2,2,2,2,2,2,2,2,99,1
4,1,2,2,60,2,1,2,2,2,1,1,2,2,2,99,1

In [4]:
df=df[df['covid_res']!=3]
df.head()

,sex,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res
0,2,97,2,27,97,2,2,2,2,2,2,2,2,2,2,1
1,2,97,2,24,97,2,2,2,2,2,2,2,2,2,99,1
2,1,2,2,54,2,2,2,2,2,2,2,1,2,2,99,1
3,2,2,1,30,97,2,2,2,2,2,2,2,2,2,99,1
4,1,2,2,60,2,1,2,2,2,1,1,2,2,2,99,1

In [5]:
df=df[df['contact_other_covid']!=99]
df.head()

,sex,intubed,pneumonia,age,pregnancy,diabetes,copd,asthma,inmsupr,hypertension,cardiovascular,obesity,renal_chronic,tobacco,contact_other_covid,covid_res
0,2,97,2,27,97,2,2,2,2,2,2,2,2,2,2,1
7,1,97,2,56,2,2,2,2,2,1,2,2,1,1,1,1
13,1,97,2,34,2,2,2,2,2,2,2,2,2,2,1,1
15,1,97,2,34,2,2,2,2,2,2,2,2,2,1,2,1
16,1,97,2,49,2,1,2,2,2,2,2,2,2,2,1,1

In [6]:
X=df.drop('covid_res',axis=1)
Y=df['covid_res']

In [7]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3,random_state=1)

In [8]:
arbol_decision=DecisionTreeClassifier(random_state=1)

In [9]:
arbol_decision.fit(X_train, Y_train)

DecisionTreeClassifier(random_state=1)

In [10]:
Y_pred=arbol_decision.predict(X_test)

In [11]:
accuracy=accuracy_score(Y_test, Y_pred)
print("Precision del modelo : ",accuracy)

Precision del modelo :  0.635175230718841

In [12]:
pip install graphviz

Requirement already satisfied: graphviz in c:\users\jose_luis\anaconda3\lib\site-packages (0.20.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(arbol_decision, out_file='arbol_decision.dot', 
                feature_names=X.columns.values, filled=True, rounded=True, special_characters=True)

with open('arbol_decision.dot') as f:
    dot_graph=f.read()
    graph=graphviz.Source(dot_graph)
    
    graph

In [18]:
from sklearn.tree import DecisionTreeClassifier

arbol_decision=DecisionTreeClassifier(max_depth=3,min_samples_split=10)
arbol_decision.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=3, min_samples_split=10)

In [17]:
from sklearn.tree import export_graphviz
import graphviz

export_graphviz(arbol_decision, out_file='arbol_decision.dot', 
                feature_names=X.columns.values, filled=True, rounded=True, special_characters=True)

with open('arbol_decision.dot') as f:
    dot_graph=f.read()
    graph=graphviz.Source(dot_graph)
    
    graph